[submodule "themes/highlights"]
	path = themes/highlights
	url = git@github.com:schmanat/hugo-highlights-theme.git
[submodule "public"]
	path = public
	url = git@github.com:jdve/jdve.github.io.git
	branch = master
