[submodule "public"]
	path = public
	url = git@github.com:jdve/jdve.github.io.git
	branch = master
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:jdve/hugo-future-imperfect.git
